<tabledata name="{{ name }}"></tabledata>

<table class="table">
<thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Hospital</th>
    <th scope="col">Time</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Arnold Davis</td>
    <td>Children's</td>
    <td>2:53pm</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Barry Simpson</td>
    <td>VA</td>
    <td>10:35am</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Bruce Jefferson</td>
    <td>Children's</td>
    <td>5:23pm</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Tom Jenkins</td>
    <td>UAB</td>
    <td>11:15am</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Bill Jackson</td>
    <td>Grandview</td>
    <td>9:37am</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Sally Johnson</td>
    <td>UAB</td>
    <td>7:03am</td>
  </tr>
</tbody>
</table>